@using Bot.model
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Index";
}
<style>
    .wrap {
        float: left;
        width: 200px;
        margin-right: 50px;
    }

    .user_list {
        float: left;
        width: 800px;
        height: 800px;
        border-left: 1px solid blue;
    }

    .dialog {
        float: left;
        background-color: aqua;
        width: 500px;
        clear: both;
        margin-bottom:20px;
    }

    .chat_box {
        position: fixed;
        bottom: 0;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    var intervals = [];
    var currentUser = null;
    function loadChat(userInfo) {
        //clear all intervals
        while (intervals.length > 0) {
            window.clearInterval(intervals.pop());
        }
        $("#chatRoom").html("");
        currentUser = userInfo;
        intervals.push(
            setInterval(function () {
                getMessage(userInfo);
            }, 500));
    }
    function getMessage(userInfo) {
        var customerId = $(userInfo).attr("customerId");
        $.ajax({
            type: "GET",
            url: "/admin/GetMessages",
            data: "customerId=" + customerId + "&watermark=" + $(userInfo).attr("watermark"),
            dataType: "json",
            success: function (msg) {
                $(userInfo).attr("watermark", msg.watermark);
                for (var i = 0; i < msg.activities.length; i++) {
                    var activity = msg.activities[i];
                    var flag = customerId == activity.from.id;
                    if ($("#chatRoom div[id='" + activity .id+ "']").length>0) {
                        continue;
                    }
                    //$("#chatRoom").append("<div class='dialog' id='"+activity.id+"' style='float:" + (flag ? "left" : "right") + "'>" + activity.text + "</div>");
                    var $divTxtBox = $("<div class='dialog'></div>").css("float", flag ? "left" : "right").attr("id", activity.id).appendTo($("#chatRoom"));

                    var $divTxt = $("<div></div>").text(activity.text).appendTo($divTxtBox);
                    if ($(currentUser).attr("adminEnable") == "true" && flag) {
                        $.ajax({
                            type: "get",
                            url: "/admin/GetIntelligence",
                            data: "question=" +activity.text,
                            dataType: "json",
                            error:function (XMLHttpRequest, textStatus, errorThrown) {
                                alert(errorThrown);
                                alert(XMLHttpRequest);
                                alert(textStatus);

                            },
                            success: function (msg) {
                                if (msg.count > 0) {
                                    var result = "";
                                    for (var i = 0; i < msg.content.length; i++) {
                                        result += "<p>" + msg.content[i] + "</p>";
                                    }
                                    var $tip = $("<div></div>").css("backgroundColor", "yellow").appendTo($divTxtBox).html(result);
                                }
                            }
                        });
                    }
                }
            }

        });
    }
    function sendMessage() {
        $(currentUser).attr("adminEnable","true")
        $.ajax({
            type: "POST",
            url: "/admin",
            data: "customerId=" + $("#test").attr("customerId") + "&content=" + $("#message").val(),
            dataType: "json",
            success: function (msg) {
              
            }

        });
    }
</script>
<div style="height:800px;">
    <div id="user" class="wrap">
        @{

            foreach (var item in ViewData["mapping"] as Dictionary<Customer, CustomerServer>)
            {
                <h1 id="test" onclick="loadChat(this)" customerId="@item.Key.UserId" watermark="">@item.Key.Name</h1>
            }
        }
    </div>
    <div class="user_list">
        <div id="chatRoom">

        </div>
        <div id="chatInput" class="chat_box">
            <div style="float:left">
                <input type="text" id="message" value="" />
            </div>
            <div style="float:left">
                <input type="button" onclick="sendMessage()" value="send" />
            </div>
        </div>
    </div>
</div>


